<div class="conter-wrapper animate">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header card-info card-inverse">
					<span class="card-title">Issues</span>
				</div>
				<div class="card-block">
					<div class="table-responsive">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>Repo</th>
									<th>Issue Title</th>
									<th>Comment</th>
								</tr>
							</thead>
							<tbody *ngFor="let t of tableList">
								<tr>
									<td class="span 3">{{t.repo}}</td>
									<td class="span 3">{{t.issue}}</td>
									<td class="span 6">{{t.comment}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>