<div class="animate">                
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header card-success card-inverse">
                    <h3 class="card-title">Breadcrumbs</h3>
                </div>
                <div class="card-block">
                    <div class="clearfix">
                        <ol class="breadcrumb no-bg no-m-t">
                            <li class="active"><i class="fa fa-home"></i></li>
                            <li><a href="javascript:void(0)">Library</a></li>
                            <li><a href="javascript:void(0)">Home</a></li>
                        </ol>
                    </div>
                    <div class="line-h-ex"></div>
                    <div class="clearfix">
                        <ol class="breadcrumb pull-right no-bg m-t">
                            <li><a href="javascript:void(0)">Home</a></li>
                            <li><a href="javascript:void(0)">Library</a></li>
                            <li class="active"><i class="fa fa-home"></i></li>
                        </ol>
                    </div>
                    <div class="line-h-ex"></div>
                    <div class="clearfix">
                        <ol class="breadcrumb m-t no-m-b">
                            <li class="active"><i class="fa fa-home"></i></li>
                            <li><a href="javascript:void(0)">Library</a></li>
                            <li><a href="javascript:void(0)">Home</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header card-warning card-inverse">
                    <h3 class="card-title">Pager</h3>
                </div>
                <div class="card-block">
                    <div class="clearfix">
                        <ul class="pager no-m-t">
                            <li><a href="javascript:void(0)"><span>&laquo;</span> Previous</a></li>
                            <li><a href="javascript:void(0)">Next <span>&raquo;</span></a></li>
                        </ul>
                    </div>
                    <div class="line-h-ex"></div>
                    <div class="clearfix">
                        <nav>
                            <ul class="pager">
                                <li class="pager-prev"><a href="javascript:void(0)"><span>&laquo;</span> Older</a></li>
                                <li class="pager-next"><a href="javascript:void(0)">Newer<span> &raquo;</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header card-warning card-inverse">
                    <h3 class="card-title">Ng2 Bootstrap Default Pagination</h3>
                </div>
                <div class="card-block">
                    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
                    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" class="pagination-sm"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                    </pagination>
                    <pagination [directionLinks]="false" [boundaryLinks]="true" [totalItems]="totalItems"
                        [(ngModel)]="currentPage">
                    </pagination>
                    <pagination [directionLinks]="false" [totalItems]="totalItems" [(ngModel)]="currentPage"
                        (numPages)="smallnumPages = $event">
                    </pagination>
                    <pre class="card card-block card-header">The selected page no: {{currentPage}}/{{smallnumPages}}</pre>
                    <button type="button" class="btn btn-info" (click)="setPage(3)">Set current page to: 3</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header card-info card-inverse">
                    <h3 class="card-title">Pagination</h3>
                </div>
                <div class="card-block">
                    <div class="text-xs-left">
                        <ul class="pagination pagination-sm">
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">‹</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                            <li class="page-item active"><a class="page-link" href="javascript:void(0)">4</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">6</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">7</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">›</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="text-xs-center">
                        <ul class="pagination pagination-sm">
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">‹</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                            <li class="page-item active"><a class="page-link" href="javascript:void(0)">4</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">6</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">7</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">›</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="text-xs-right">
                        <ul class="pagination pagination-sm">
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">‹</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                            <li class="page-item active"><a class="page-link" href="javascript:void(0)">4</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">6</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">7</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">›</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header card-danger card-inverse">
                    <h3 class="card-title">Pagination Sizes</h3>
                </div>
                <div class="card-block">
                    <nav>
                        <ul class="pagination pagination-lg">
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <nav>
                        <ul class="pagination pagination-sm">
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="card-header card-danger card-inverse">
                    <h3 class="card-title">Ng2 Bootstrap Pager</h3>
                </div>
                <div class="card-block">
                    <pager [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" pageBtnClass="btn"></pager>
                    <hr/>
                    <h4>Limit the maximum visible buttons</h4>
                    <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
                        [boundaryLinks]="true">
                    </pagination>
                    <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
                        [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event">
                    </pagination>
                    <pre class="card card-block card-header">Page: {{bigCurrentPage}} / {{numPages}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>