<div class="animate">				
	<div class="row">
		<div class="col-lg-6">
			<div class="card">
				<div class="card-primary card-inverse card-header">
					<h3 class="card-title">Line Chart</h3>
				</div>
				<div class="card-block">
					<div id="linechart"></div>
				</div>
			</div>
		</div>	
		<div class="col-lg-6">
			<div class="card">
				<div class="card-warning card-inverse card-header">
					<h3 class="card-title">Pie Chart</h3>
				</div>
				<div class="card-block">
					<div id="piechart"></div>
				</div>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-lg-6">
			<div class="card">
				<div class="card-success card-inverse card-header">
					<h3 class="card-title">Donut Chart</h3>
				</div>
				<div class="card-block">
					<div id="donutchart"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card">
				<div class="card-danger card-inverse card-header">
					<h3 class="card-title">Area Chart</h3>
				</div>
				<div class="card-block">
					<div id="areachart"></div>
				</div>
			</div>
		</div>	
	</div>
</div>