<!-- <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
	<thead>
		<tr>
			<th style="width: 10%">
				<mfDefaultSorter by="Submitted Date">Submitted Date</mfDefaultSorter>
			</th>
			<th style="width: 10%">
				<mfDefaultSorter by="Customer">Customer</mfDefaultSorter>
			</th>
			<th style="width: 10%">
				<mfDefaultSorter by="Customer Email">Customer Email</mfDefaultSorter>
			</th>
			<th style="width: 40%">
				<mfDefaultSorter by="Description">Description</mfDefaultSorter>
			</th>
			<th style="width: 10%">
				<mfDefaultSorter by="Employee">Employee</mfDefaultSorter>
			</th>
			<th style="width: 10%">
				<mfDefaultSorter by="Open/Closed Status">Open/Closed Status</mfDefaultSorter>
			</th>
			<th style="width: 10%">
				<mfDefaultSorter by="Closed Timestamp">Closed Timestamp</mfDefaultSorter>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of mf.data">
			<td>{{item["Submitted Date"]}}</td>
			<td>{{item["Customer"]}}</td>
			<td>{{item["Customer Email"]}}</td>
			<td>{{item["Description"]}}</td>
			<td>{{item["Employee"]}}</td>
			<td>{{item["Open/Closed Status"]}}</td>
			<td>{{item["Closed Timestamp"]}}</td>

		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4">
				<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
			</td>
		</tr>
	</tfoot>
</table>


 -->


 <div>
	 This is where a data-table used to be
 </div>