<div class="animate">
	<div class="row home-row">
		<div class="col-lg-4 col-xl-3">
			<div class="home-stats">
                <stats-cmp></stats-cmp>
			</div>
		</div>
		<div class="col-lg-4 col-xl-6">
			<div class="card">
				<div class="card-block">
					<div class="chart-comment clearfix">
						<div class="text-warning pull-left m-l">
							<b>
                                <span class="comment-comment">Daily Revenue</span>
                            </b>
						</div>
					</div>
					<div id="lineChart" style="height:221px"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-xl-3">
			<div class="card">
				<div class="card-block">
					<div class="chart-comment clearfix">
						<div class="text-success pull-left m-l">
							<b>
                                <span class="comment-comment">Closed Issues</span>
                            </b>
						</div>
					</div>
					<div id="cbar" style="height:150px; padding-top:7px;"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-xl-8">
			<div class="card card-block">
				<div id="vmap" style="width: 100%; height: 321px;"></div>
			</div>
		</div>
		<div class="col-md-6 col-xl-4">
			<todo-cmp></todo-cmp>
		</div>
	</div>
</div>