<div class="animate dropdown">        
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-primary card-inverse card-header">
                    <h3 class="card-title">Navbar</h3>
                </div>
                <div class="card-block">
                    <h5>Default Style</h5>
                    <nav class="navbar navbar-light bg-faded">
                        <div class="container-fluid">
                            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                                &#9776;
                            </button>
                            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                                <a class="navbar-brand" href="javascript:void(0)">Website</a>
                                <ul class="nav navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="javascript:void(0)">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0)">Pricing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0)">About</a>
                                    </li>
                                    <li class="nav-item" dropdown>
                                        <a class="nav-link" href="javascript:void(0)" dropdownToggle>Dropdown <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                                            <li class="divider dropdown-divider"></li>
                                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                                            <li class="divider dropdown-divider"></li>
                                            <li role="menuitem"><a class="dropdown-item" href="#">One More Separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <form class="form-inline pull-xs-right">
                                    <input class="form-control" type="text" placeholder="Search">
                                    <button class="btn btn-secondary" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </nav>
                    <p>&nbsp;</p>
                    <h5>Inverted Style</h5>
                    <nav class="navbar navbar-dark bg-primary">
                        <div class="container-fluid">
                            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                                &#9776;
                            </button>
                            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                                <a class="navbar-brand" href="javascript:void(0)">Website</a>
                                <ul class="nav navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="javascript:void(0)">Home<span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0)">pricing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0)">About</a>
                                    </li>
                                    <li class="nav-item" dropdown>
                                        <a class="nav-link" href="javascript:void(0)" dropdownToggle>Dropdown <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                                            <li class="divider dropdown-divider"></li>
                                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                                            <li class="divider dropdown-divider"></li>
                                            <li role="menuitem"><a class="dropdown-item" href="#">One More Separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <form class="form-inline pull-xs-right">
                                    <input class="form-control" type="text" placeholder="Search">
                                    <button class="btn btn-secondary" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-primary card-inverse card-header">
                    <h3 class="card-title">Regular Dropdown</h3>
                </div>
                <div class="card-block">
                    <div class="btn-group" dropdown>
                       <button type="button" class="btn btn-secondary dropdown-toggle"  dropdownToggle >
                            Button dropdown <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-primary dropdown-toggle"  dropdownToggle  >
                            Button dropdown <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-success dropdown-toggle"  dropdownToggle  >
                        Button dropdown <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-warning dropdown-toggle"  dropdownToggle  >
                        Button dropdown <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-danger dropdown-toggle"  dropdownToggle   >
                        Button dropdown <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <hr>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-secondary btn-rounded dropdown-toggle right-split" dropdownToggle  >
                            Button dropdown <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-primary btn-rounded dropdown-toggle right-split" dropdownToggle  >
                            Button dropdown <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-info btn-rounded dropdown-toggle right-split" dropdownToggle >
                            Button dropdown <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-warning btn-rounded dropdown-toggle right-split" dropdownToggle  >
                            Button dropdown <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-danger btn-rounded dropdown-toggle right-split" dropdownToggle   >
                            Button dropdown <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>

                    <hr>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-secondary  btn-bordered dropdown-toggle right-split" dropdownToggle    >
                            Button dropdown <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-primary  btn-bordered dropdown-toggle right-split" dropdownToggle    >
                            Button dropdown <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-success  btn-bordered dropdown-toggle right-split" dropdownToggle    >
                            Button dropdown <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-warning  btn-bordered dropdown-toggle right-split" dropdownToggle    >
                            Button dropdown <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-danger  btn-bordered dropdown-toggle right-split" dropdownToggle >
                            Button dropdown <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
    </div>     
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-success card-inverse card-header">
                    <h3 class="card-title">Split-Button Dropdown</h3>
                </div>
                <div class="card-block">
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-secondary">Action</button>
                        <button type="button" class="btn btn-secondary dropdown-toggle haha" dropdownToggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-success">Action</button>
                        <button type="button" class="btn btn-success dropdown-toggle haha" dropdownToggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-primary">Action</button>
                        <button type="button" class="btn btn-primary dropdown-toggle haha" dropdownToggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-warning">Action</button>
                        <button type="button" class="btn btn-warning dropdown-toggle haha" dropdownToggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-danger">Action</button>
                        <button type="button" class="btn btn-danger dropdown-toggle haha" dropdownToggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <hr>
                    <div class="btn-group split" dropdown>
                        <button type="button" class="btn btn-secondary btn-rounded left">Action</button>
                        <button type="button" class="btn btn-secondary btn-rounded dropdown-toggle right" dropdownToggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group split" dropdown>
                    <button type="button" class="btn btn-success btn-rounded left">Action</button>
                    <button type="button" class="btn btn-success btn-rounded dropdown-toggle right" dropdownToggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group split" dropdown>
                    <button type="button" class="btn btn-primary btn-rounded left">Action</button>
                    <button type="button" class="btn btn-primary btn-rounded dropdown-toggle right" dropdownToggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group split" dropdown>
                    <button type="button" class="btn btn-warning btn-rounded left">Action</button>
                    <button type="button" class="btn btn-warning btn-rounded dropdown-toggle right" dropdownToggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group split" dropdown>
                    <button type="button" class="btn btn-danger btn-rounded left">Action</button>
                    <button type="button" class="btn btn-danger btn-rounded dropdown-toggle right" dropdownToggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <hr>
                    <div class="btn-group split-btn" dropdown>
                    <button type="button" class="btn btn-secondary btn-bordered left">Action</button>
                    <button type="button" class="btn btn-secondary btn-bordered dropdown-toggle right" dropdownToggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group split-btn" dropdown>
                    <button type="button" class="btn btn-primary btn-bordered left">Action</button>
                    <button type="button" class="btn btn-primary btn-bordered dropdown-toggle right" dropdownToggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group split-btn" dropdown>
                    <button type="button" class="btn btn-success btn-bordered left">Action</button>
                    <button type="button" class="btn btn-success btn-bordered dropdown-toggle right" dropdownToggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group split-btn" dropdown>
                    <button type="button" class="btn btn-warning btn-bordered left">Action</button>
                    <button type="button" class="btn btn-warning btn-bordered dropdown-toggle right" dropdownToggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group split-btn" dropdown>
                        <button type="button" class="btn btn-danger btn-bordered left">Action</button>
                        <button type="button" class="btn btn-danger btn-bordered dropdown-toggle right" dropdownToggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>